EfDatabaseAutomation/Automation/BaseLogica/XsdShemeSqlLoad/LoadDeclarationData/XsdAllBodyData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ArrayBodyDoc" sql:is-constant="true">
		<xs:annotation>
			<xs:documentation>Коллекция деклараций</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeclarationData" minOccurs="0" maxOccurs="unbounded" sql:relation="DeclarationData"/>
				<xs:element ref="StatementData" minOccurs="0" maxOccurs="unbounded" sql:relation="StatementFull"/>
				<xs:element ref="CashUlFace" minOccurs="0" maxOccurs="unbounded" sql:relation="CashUlFace"/>
				<xs:element ref="CashBankAllUlFace" minOccurs="0" maxOccurs="unbounded" sql:relation="CashBankAllUlFace"/>
				<xs:element ref="NdflFl" minOccurs="0" maxOccurs="unbounded" sql:relation="NdflFl"/>
				<xs:element ref="BookSales" minOccurs="0" maxOccurs="unbounded" sql:relation="BookSales"/>
				<xs:element ref="BookPurchase" minOccurs="0" maxOccurs="unbounded" sql:relation="BookPurchase"/>
				<xs:element ref="CounterpartyCashBank" minOccurs="0" maxOccurs="unbounded" sql:relation="CounterpartyCashBank"/>
				<xs:element ref="DocPatent" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="PlaceOfBusiness" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SvedTr" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SvedObject" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="ParametrNalog" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="SvedFactPatent" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeclarationData" sql:relation="DeclarationData">
		<xs:annotation>
			<xs:documentation>Декларации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Id" type="xs:int" use="optional" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RegNumDecl" use="required">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CodeString" use="optional">
				<xs:annotation>
					<xs:documentation>Описание кода</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameParametr" use="optional">
				<xs:annotation>
					<xs:documentation>Наименование параметра</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CodeParametr" use="optional">
				<xs:annotation>
					<xs:documentation>Код параметра</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DataFace" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Данные представленные лицом</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DataInspector" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Данные инспектора</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Error" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Разногласия</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="StatementData" sql:relation="StatementFull">
		<xs:annotation>
			<xs:documentation>Выписка </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdStatementIndex" type="xs:int" use="optional" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Индекс</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUl" use="required">
				<xs:annotation>
					<xs:documentation>Ун Юридическогоко лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IdStatementHead" use="required">
				<xs:annotation>
					<xs:documentation>Ун заголовка</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VarIndex" use="required">
				<xs:annotation>
					<xs:documentation>№ п/п</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameParametr" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Наименование показателя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ValuesStatement" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Значение показателя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="CashUlFace" sql:relation="CashUlFace">
		<xs:annotation>
			<xs:documentation>Счета организации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DataOpenCash" sql:datatype="smalldatetime"/>
				<xs:element ref="DataClosedCash" sql:datatype="smalldatetime"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int" use="optional" sql:mapped="false" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Ун</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUl" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Ун Юридическогоко лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IdNum" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН АИС 3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameFull" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Полное наименование банка</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CashNumber" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Номер счета</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypeCash" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Тип счета</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:mapped="false" sql:datatype="smalldatetime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="DataOpenCash" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата открытия счета</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DataClosedCash" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата закрытия счета</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:dateTime"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CashBankAllUlFace">
		<xs:annotation>
			<xs:documentation>Банковские Выписки по счетам</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DatePriem" sql:datatype="smalldatetime"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int" use="optional" sql:mapped="false" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Ун</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUl" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Ун Юридическогоко лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IdNum" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CodeNo" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Код налогового органа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameBank" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование банка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Bik" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Бик банка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InnBank" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ИНН Банка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="KppBank" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>КПП Банка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberCash" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Номер счета</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Cash" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Валюта</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CashScoreStartPeriod" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Сумма остатка на начало периода, в валюте счета</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CashScoreFinishPeriod" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Сумма остатка на конец периода, в валюте счета</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateWay" use="required" sql:datatype="smalldatetime">
				<xs:annotation>
					<xs:documentation>Дата направления</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateStartPeriod" use="required" sql:datatype="smalldatetime">
				<xs:annotation>
					<xs:documentation>Дата начала периода банковской выписки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateFinishPeriod" use="required" sql:datatype="smalldatetime">
				<xs:annotation>
					<xs:documentation>Дата окончания периода банковской выписки</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:mapped="false" sql:datatype="smalldatetime"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="NdflFl">
		<xs:annotation>
			<xs:documentation>Сведения 2НДФЛ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Id" type="xs:int" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUl" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Ун Юридическогоко лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="IdSved" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН сведений</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="FidFl" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>ФИД</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="InnFl" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ИНН ФЛ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SurnameFl" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameFl" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PatronymicFl" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FioFl" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Полное имя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Number" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Номер месяца</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdVidNdfl" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>УН вида дохода</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CodeNdfl" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Код дохода</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameNdfl" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование дохода</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MoneyNdfl" type="xs:decimal" use="required" sql:datatype="decimal">
				<xs:annotation>
					<xs:documentation>Зарплата</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="datetime" sql:mapped="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BookSales">
		<xs:annotation>
			<xs:documentation>Книга покупок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Str030"/>
				<xs:element ref="Str050"/>
				<xs:element ref="Str070"/>
				<xs:element ref="Str090"/>
				<xs:element ref="Str120"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int" use="optional" sql:mapped="false" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>УН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdBook" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН корневой книги</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="F" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак Ф</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="K" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак К</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="C" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак С</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str005" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Поле 005</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Str010" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 010</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str020" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 020</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str040" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 040</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str060" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 060</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str080" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 080</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str100110" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поля 100 - 110</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn130" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ИНН 130</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kpp130" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>КПП 130</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameSale130" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование продавца</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn140" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ИНН Посредника</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kpp140" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>КПП посредника</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameMediator140" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование посредника</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RegNumber" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Регистрационный № ДТ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str160" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Поле 160</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str170" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 170</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str180" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 180</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CountRnp" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Количество РНП</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Sf" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ЭСФ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ListDop" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Дополнительные листы</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="smalldatetime" sql:mapped="false"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="BookPurchase">
		<xs:annotation>
			<xs:documentation>Книга продаж</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Str030"/>
				<xs:element ref="Str050"/>
				<xs:element ref="Str070"/>
				<xs:element ref="Str090"/>
			</xs:sequence>
			<xs:attribute name="Id" type="xs:int" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdBook" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН корневой книги</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="F" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак Ф</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="K" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак К</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="C" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак С</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str005" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Поле 005</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Str010" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 010</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str020" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 020</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str040" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 040</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str060" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 060</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str080" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Поле 080</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str120130" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Документ, подтверждающий оплату</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn100" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ИНН покупателя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kpp100" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>КПП покупателя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameCustomer100" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование покупателя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn110" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ИНН Посредника</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kpp110" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>КПП Посредника</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameMediator110" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование посредника</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RegNumber" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Регистрационный № ДТ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str140" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Поле 140</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str150" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 150</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str160" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 160</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str170" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 170</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str175" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 175</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str180" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 180</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str190" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 190</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str200" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 200</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str205" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 205</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str210" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 210</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Str220" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Поле 220</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CountRnp" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Количество РНП</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Sf" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ЭСФ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ListDop" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Доп.лист</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CodeProduct" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Код вида товара</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="smalldatetime" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Str030" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Поле 030</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Str050" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Поле 050</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Str070" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Поле 070</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Str090" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Поле 090</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Str120" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Поле 120</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CounterpartyCashBank">
		<xs:annotation>
			<xs:documentation>Данные банка по контрагентам</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Id" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Ун</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdUl" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Ун Юридическогоко лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:int"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypeCash" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Тип счета</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="PriznakCash" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак операции</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NumberCash" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Currency" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Валюта</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CorrespondentAccountNumberCounterparty" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Номер корреспондентского счета</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameBankCounterparty" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="BikBankCounterparty" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>БИК</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="InnBankCounterparty" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="KppBankCounterparty" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CashCounterparty" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Номер</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateOperation" use="required" sql:datatype="smalldatetime">
				<xs:annotation>
					<xs:documentation>Дата совершения</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:dateTime"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="SurOperation" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>СУР</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameOperation" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="InnOperation" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="KppOperation" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="OkvedOperation" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ОКВЭД</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NumberDocOperation" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Номер документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="VieDocOperation" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Вид документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ExpenseSumOperationUSA" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Расход д/c, в валюте счета</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ExpenseSumOperationRU" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Расход д/c, в рублях</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ComingSumOperationUSA" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Приход д/c, в валюте счета</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ComingSumOperationRU" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Приход д/c, в рублях</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:double"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypeSumOperation" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Вид платежа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TargetSumOperation" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Назначение платежа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="smalldatetime" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DatePriem" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Дата получения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DocPatent" sql:relation="DocPatent">
		<xs:annotation>
			<xs:documentation>Документы объекта ПСН</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RegNum" sql:datatype="bigint"/>
				<xs:element ref="Number" sql:datatype="bigint"/>
				<xs:element ref="Knd" sql:datatype="int"/>
				<xs:element ref="VidDoc" sql:datatype="int"/>
				<xs:element ref="DateCreatePatent" sql:datatype="smalldatetime"/>
				<xs:element ref="DateIn" sql:datatype="smalldatetime"/>
				<xs:element ref="DateOutTksMail" sql:datatype="smalldatetime"/>
				<xs:element ref="IdInIst" sql:datatype="int"/>
			</xs:sequence>
			<xs:attribute name="IdNum" type="xs:int" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН Документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdPatent" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Уникальный номер патента</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ActualPatent" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Актуальность патента (заявления на патент)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="KodePr" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Код по ИР ПСН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameDoc" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Наименование</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="CodeIfns" type="xs:int" use="required">
				<xs:annotation>
					<xs:documentation>Кодо СОНО</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Fid" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ФИД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdDoc" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdWrite" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи об объекте ПСН налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdIn" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>УН способа представления</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegNum" type="xs:long" nillable="true" sql:datatype="bigint">
		<xs:annotation>
			<xs:documentation>РегНомер</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Number" type="xs:long" nillable="true" sql:datatype="bigint">
		<xs:annotation>
			<xs:documentation>Номер</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Knd" type="xs:int" nillable="true" sql:datatype="int">
		<xs:annotation>
			<xs:documentation>КНД</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="VidDoc" type="xs:int" nillable="true" sql:datatype="int">
		<xs:annotation>
			<xs:documentation>Вид документа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateCreatePatent" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Дата создания</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateIn" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Дата поступления в инспекцию</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateOutTksMail" type="xs:dateTime" nillable="true" sql:datatype="smalldatetime">
		<xs:annotation>
			<xs:documentation>Дата отправки по почте/ТКС</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PlaceOfBusiness" sql:relation="PlaceOfBusiness">
		<xs:annotation>
			<xs:documentation>Сведения о месте осуществления деятельности</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IdPlace" sql:datatype="bigint"/>
			</xs:sequence>
			<xs:attribute name="IdNum" type="xs:int" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН Документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdPatent" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Уникальный номер патента</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AddressPlace" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>УН записи о месте осуществления деятельности</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdWrite" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи об объекте ПСН налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="smalldatetime" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdPlace" type="xs:long" nillable="true" sql:datatype="bigint">
		<xs:annotation>
			<xs:documentation>УН места</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SvedTr" sql:relation="SvedTr">
		<xs:annotation>
			<xs:documentation>Сведения о транспортных средствах</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdNum" type="xs:int" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН Документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdPatent" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Уникальный номер патента</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdTr" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи о ТС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Code" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Код</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeTr" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Тип</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdNumber" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Идентификационный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Model" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Марка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RegNumber" type="xs:string" use="required" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Регистрационный номер</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Weight" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Грузоподъемность </xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NumberSeqts" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Количество посадочных мест</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdWrite" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи об объекте ПСН налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="smalldatetime" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="SvedObject" sql:relation="SvedObject">
		<xs:annotation>
			<xs:documentation>Сведения об обособленных объектах</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdNum" type="xs:int" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН Документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdPatent" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Уникальный номер патента</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdObject" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи об обособленном объекте</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Code" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Код</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeObject" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Тип</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AreaObject" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Площадь</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="AddressObject" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Адрес места нахождения объекта</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdWrite" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи об объекте ПСН налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="smalldatetime" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ParametrNalog" sql:relation="ParametrNalog">
		<xs:annotation>
			<xs:documentation>Параметры расчета налога</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IdKbk" sql:datatype="int"/>
				<xs:element ref="IdVktmo" sql:datatype="int"/>
			</xs:sequence>
			<xs:attribute name="IdNum" type="xs:int" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН Документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdPatent" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Уникальный номер патента</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrizSum" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак: считать по суммарным значениям</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrizCountWork" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак: умножение на кол-во наемных работников</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrizCountTr" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак: умножение на кол-во ТС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrizCountSeqts" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак: умножение на кол-во посадочных мест</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrizCountWeight" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак: умножение на грузоподъемность</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrizCountObject" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак: умножение на кол-во обособленных объектов</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrizCountObjectArea" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак: умножение на площадь обособленного объекта</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PrizRukVvod" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Признак: ручной ввод дохода</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kbk" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>КБК</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameNalog" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование налога</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Oktmo" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ОКТМО</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Vktmo" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Наименование по ВКТМО1</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NalogDateBase" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Налоговая база</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NalogPsnYear" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Налог ПСН за год</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NalogPsnPeriod" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Налог ПСН за период действия патента</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inspector" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Инспектор</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdWrite" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи об объекте ПСН налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdNalogWrite" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи о расчете налога</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="smalldatetime" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdKbk" type="xs:int" nillable="true" sql:datatype="int">
		<xs:annotation>
			<xs:documentation>УН записи КБК</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdVktmo" type="xs:int" nillable="true" sql:datatype="int">
		<xs:annotation>
			<xs:documentation>УН по ВКТМО1</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SvedFactPatent" sql:relation="SvedFactPatent">
		<xs:annotation>
			<xs:documentation>Сведения по фактическому действию патента</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="IdNum" type="xs:int" use="optional" sql:datatype="int" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН Документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdPatent" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Уникальный номер патента</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FactDaysPatent" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Фактический период действия патента (дни)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NalogDays" type="xs:int" use="required" sql:datatype="int">
				<xs:annotation>
					<xs:documentation>Налоговая база за фактический период</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NalogFact" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Налог за фактический период</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Delta" type="xs:double" use="required" sql:datatype="float">
				<xs:annotation>
					<xs:documentation>Корректировка по фактическому периоду (дельта)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inspector" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>ФИО инспектора, сделавшего расчет</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IdWrite" type="xs:long" use="required" sql:datatype="bigint">
				<xs:annotation>
					<xs:documentation>УН записи об объекте ПСН налогоплательщика</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DeltaWriteError" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Корректировка по первому сроку / дельта</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NalogDaysDelta" type="xs:string" use="optional" sql:datatype="varchar">
				<xs:annotation>
					<xs:documentation>Срок уплаты налога в размере 1/3</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:datatype="datetime" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdInIst" type="xs:int" nillable="true" sql:datatype="int">
		<xs:annotation>
			<xs:documentation>УН способа представления (подсистема-источник)</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
