EfDatabaseAutomation/Automation/BaseLogica/XsdShemeSqlLoad/LoadDeclarationData/XsdDataDeclaration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ArrayOfDeclarationData" sql:is-constant="true">
		<xs:annotation>
			<xs:documentation>Коллекция деклараций</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DeclarationData" maxOccurs="unbounded" sql:relation="DeclarationData"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DeclarationData" sql:relation="DeclarationData">
		<xs:annotation>
			<xs:documentation>Декларации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Id" type="xs:int" use="optional" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>УН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="RegNumDecl" use="required">
				<xs:annotation>
					<xs:documentation>Регистрационный номер декларации</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:long"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CodeString" use="optional">
				<xs:annotation>
					<xs:documentation>Описание кода</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameParametr" use="optional">
				<xs:annotation>
					<xs:documentation>Наименование параметра</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="CodeParametr" use="optional">
				<xs:annotation>
					<xs:documentation>Код параметра</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="DataFace" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Данные представленные лицом</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DataInspector" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Данные инспектора</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Error" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Разногласия</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DateCreate" type="xs:dateTime" use="optional" sql:mapped="false">
				<xs:annotation>
					<xs:documentation>Дата записи</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
