LotusClient/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Lotuslib.LotusModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Lotuslib.LotusModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ModelComutator">
    <xs:sequence>
      <xs:element minOccurs="0" name="PathDb" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShemeDbCom" nillable="true" type="tns:ArrayOfModelComutator" />
      <xs:element minOccurs="0" name="TitleDb" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ModelComutator" nillable="true" type="tns:ModelComutator" />
  <xs:complexType name="ArrayOfModelComutator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ModelComutator" nillable="true" type="tns:ModelComutator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfModelComutator" nillable="true" type="tns:ArrayOfModelComutator" />
</xs:schema>