EfDatabaseAutomation/Automation/BaseLogica/XsdAuto/FullShemeModel/WebShemeTaxJournal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DateIzveshenie" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата извещения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AutoWebPage" type="AutoWebPage">
		<xs:annotation>
			<xs:documentation>Контент на сайт ОКП2</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AutoWebPage">
		<xs:annotation>
			<xs:documentation>Контент на сайт ОКП2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TaxJournalAutoWebPage" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TaxJournal121AutoWebPage" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AddUlFace" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ModelTree" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ModelKbkOnKbk" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="HelpKbkAuto" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AllJournal129" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Documen2NDFLIdentification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="FormulNdfl" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="DeliveryDocument" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TaxJournalAutoWebPage">
		<xs:annotation>
			<xs:documentation>Контент на сайт ОКП2</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateIzveshenie"/>
				<xs:element ref="IsLk3"/>
				<xs:element ref="IsMail"/>
				<xs:element ref="IsPrint"/>
				<xs:element ref="IsTks"/>
				<xs:element ref="DataCreate"/>
				<xs:element ref="IdDelo"/>
				<xs:element ref="Id"/>
				<xs:element ref="LogicsButton"/>
			</xs:sequence>
			<xs:attribute name="LoginUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Kpp">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameFace">
				<xs:annotation>
					<xs:documentation>Наименование лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Fid">
				<xs:annotation>
					<xs:documentation>ФИД</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypeDocument">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MessageInfo">
				<xs:annotation>
					<xs:documentation>Сообщение</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Extensions">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IsTks" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>ТКС</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IsMail" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>Почта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IsLk3" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>ЛК3</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IsPrint" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>Статус распечатан</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataCreate" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата создания</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdDelo" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Идентификатор дела</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Id" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Идентификатор</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LogicsButton" type="xs:string" default="Button" nillable="false">
		<xs:annotation>
			<xs:documentation>Логика кнопок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TaxJournal121AutoWebPage">
		<xs:annotation>
			<xs:documentation>121 статья</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Id"/>
				<xs:element ref="IsLk3"/>
				<xs:element ref="IsMail"/>
				<xs:element ref="IsPrint"/>
				<xs:element ref="IsTks"/>
				<xs:element ref="LogicsButton"/>
				<xs:element ref="DateIzveshenie"/>
				<xs:element ref="DataCreate"/>
				<xs:element ref="DateFinishDeclaration"/>
				<xs:element ref="DateStartDeclaration"/>
				<xs:element ref="DateFinishCheck"/>
				<xs:element ref="DateStartCheck"/>
				<xs:element ref="RegNumDeclaration"/>
				<xs:element ref="God"/>
				<xs:element ref="CounDay"/>
			</xs:sequence>
			<xs:attribute name="NameKnd" type="xs:string">
				<xs:annotation>
					<xs:documentation>Декларация</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Knd" type="xs:string">
				<xs:annotation>
					<xs:documentation>КНД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LoginUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Fid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фид</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameFace" type="xs:string">
				<xs:annotation>
					<xs:documentation>Лицо</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Period">
				<xs:annotation>
					<xs:documentation>Отчетный период</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypeDocument" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Extensions" type="xs:string">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MessageInfo" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ошибка\Сообщение</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateFinishDeclaration" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Срок представления декларации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateStartDeclaration" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата представления декларации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateFinishCheck" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Срок проверки по регламенту</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateStartCheck" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата начала проверки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegNumDeclaration" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Рег. номер декларации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="God" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Год</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CounDay" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Просрочка дней</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddUlFace">
		<xs:annotation>
			<xs:documentation>Лицо для добавления (Предпроверка)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IdUl"/>
			</xs:sequence>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика кнопки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InnUl" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FullStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус лица модели</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModelTree">
		<xs:annotation>
			<xs:documentation>Модель отработаных веток</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateCreate"/>
				<xs:element ref="IdModel"/>
				<xs:element ref="IdUl"/>
			</xs:sequence>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика кнопки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InnUl" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Tree" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ветка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус обработки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameTemplate" type="xs:string">
				<xs:annotation>
					<xs:documentation>Шаблон</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateCreate" type="xs:dateTime" abstract="true">
		<xs:annotation>
			<xs:documentation>Дата записи</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdModel" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Id Модели ветки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ModelKbkOnKbk">
		<xs:annotation>
			<xs:documentation>Модель уточненных платежей</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="IdClarification"/>
				<xs:element ref="IdDoc"/>
				<xs:element ref="Payment"/>
				<xs:element ref="DateCreate"/>
			</xs:sequence>
			<xs:attribute name="StatusError" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус ошибки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InnPayer" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН плательщика</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="KbkIfns" type="xs:string">
				<xs:annotation>
					<xs:documentation>КБК ИФНС</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kbk100Before" type="xs:string">
				<xs:annotation>
					<xs:documentation>КБК Before</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TpPayerBefore" type="xs:string">
				<xs:annotation>
					<xs:documentation>ТП Before</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusPayerBefore" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус Before</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="KbkUtcAfter" type="xs:string">
				<xs:annotation>
					<xs:documentation>КБК After</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TpPayerUtcAfter" type="xs:string">
				<xs:annotation>
					<xs:documentation>ТП After</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusPayerUtcAfter" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус After</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InnBank" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН Банкв</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="KppBank" type="xs:string">
				<xs:annotation>
					<xs:documentation>КПП Банка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Oktmo105" type="xs:string">
				<xs:annotation>
					<xs:documentation>ОКТМО 105</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OktmoUfk" type="xs:string">
				<xs:annotation>
					<xs:documentation>ОКТМО УФК</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Conclusion" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус обработки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdClarification" type="xs:int" nillable="false">
		<xs:annotation>
			<xs:documentation>Ун записи</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdDoc" type="xs:long" nillable="false">
		<xs:annotation>
			<xs:documentation>Ун документа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Payment" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Сумма платежа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="HelpKbkAuto">
		<xs:annotation>
			<xs:documentation>Справочник КБК на автоматизации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Id"/>
				<xs:element ref="IdQbe"/>
			</xs:sequence>
			<xs:attribute name="GroupColor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Цвет группы</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameGroupPl" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование группы</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kbk" type="xs:string">
				<xs:annotation>
					<xs:documentation>КБК</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="DescriptionGroup" type="xs:string">
				<xs:annotation>
					<xs:documentation>Описание группы</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdQbe" type="xs:int">
		<xs:annotation>
			<xs:documentation>Ун группы</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AllJournal129">
		<xs:annotation>
			<xs:documentation>Журнал 129</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LogicsButton"/>
				<xs:element ref="Id"/>
				<xs:element ref="IdDelo"/>
				<xs:element ref="DateError"/>
			</xs:sequence>
			<xs:attribute name="StateColor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Стадия</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="State_TaxPayerColor" type="xs:string">
				<xs:annotation>
					<xs:documentation>Состояние НП</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kpp" type="xs:string">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameFace" type="xs:string">
				<xs:annotation>
					<xs:documentation>Лицо</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Fid" type="xs:string">
				<xs:annotation>
					<xs:documentation>ФИД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="LoginUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Учетная запись пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="MessageInfo" type="xs:string">
				<xs:annotation>
					<xs:documentation>Отметка о проставлении</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateError" type="xs:dateTime" abstract="true">
		<xs:annotation>
			<xs:documentation>Дата выявления нарушения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IsActual" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>Актуальность подписи</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Documen2NDFLIdentification">
		<xs:annotation>
			<xs:documentation>Идентификация справок 2НДФЛ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LogicsButton"/>
				<xs:element ref="IdDoc"/>
				<xs:element ref="IdFile"/>
				<xs:element ref="Yars"/>
				<xs:element ref="Priznak"/>
				<xs:element ref="DateNameUser"/>
				<xs:element ref="Fid"/>
				<xs:element ref="IdFl"/>
				<xs:element ref="DateNameUserUtoch"/>
			</xs:sequence>
			<xs:attribute name="INN" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фамилия</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="IName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="OName" type="xs:string">
				<xs:annotation>
					<xs:documentation>Отчество</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FIO" type="xs:string">
				<xs:annotation>
					<xs:documentation>ФИО</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Document" type="xs:string">
				<xs:annotation>
					<xs:documentation>Документ удостоверяющий личность</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="SeriaNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>Серия/Номер Документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InnOrganization" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН организации</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameOrganization" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование организации</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="INNUtoch" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН уточненного лица</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FNameUtoch" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фамилия уточненного лица</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="INameUtoch" type="xs:string">
				<xs:annotation>
					<xs:documentation>Имя уточненного лица</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ONameUtoch" type="xs:string">
				<xs:annotation>
					<xs:documentation>Отчество уточненного лица</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusSved" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус лица</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ErrorNameStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус отработки документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IdFile" type="xs:long" nillable="true">
		<xs:annotation>
			<xs:documentation>УН файла</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Yars" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Год</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Priznak" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Признак</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateNameUser" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата рождения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Fid" type="xs:long" nillable="true">
		<xs:annotation>
			<xs:documentation>Фид уточненного лица</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdFl" type="xs:long" nillable="true">
		<xs:annotation>
			<xs:documentation>Ун ФЛ Уточненного лица</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateNameUserUtoch" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Уточненная дата рождения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdUl" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Идентификатор лица</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="FormulNdfl">
		<xs:annotation>
			<xs:documentation>Формула расчета 2 НДФЛ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="LogicsButton"/>
				<xs:element ref="MoneyNdfl"/>
				<xs:element ref="CountNdfl"/>
				<xs:element ref="AvgMoney"/>
				<xs:element ref="CodeNdfl"/>
				<xs:element ref="DateOgrn"/>
				<xs:element ref="CountFl"/>
			</xs:sequence>
			<xs:attribute name="NameSmall" type="xs:string">
				<xs:annotation>
					<xs:documentation>Сокращенное наименование</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Kpp" type="xs:string">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusUl" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус ЮЛ</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="MoneyNdfl" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Общая сумма</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CountNdfl" type="xs:int">
		<xs:annotation>
			<xs:documentation>Колличество строк</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AvgMoney" type="xs:decimal">
		<xs:annotation>
			<xs:documentation>Средняя сумма</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CodeNdfl" type="xs:int">
		<xs:annotation>
			<xs:documentation>Код дохода</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateOgrn" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата ОГРН (Основание организации)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CountFl" type="xs:int">
		<xs:annotation>
			<xs:documentation>Количество Лиц 2000 доход</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeliveryDocument">
		<xs:annotation>
			<xs:documentation>Отправленные документы</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RegNumber"/>
				<xs:element ref="DateDocument"/>
				<xs:element ref="DateSend"/>
				<xs:element ref="DateDelivery"/>
				<xs:element ref="Number"/>
				<xs:element ref="God"/>
				<xs:element ref="LogicsButton"/>
				<xs:element ref="RegNumDeclarationDelivery"/>
			</xs:sequence>
			<xs:attribute name="LoginUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Логин пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameDocument" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="TypeFace" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип лица</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Knd" type="xs:string">
				<xs:annotation>
					<xs:documentation>КНД</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameDeclaration" type="xs:string">
				<xs:annotation>
					<xs:documentation>Наименование декларации</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="RegNumber" type="xs:long">
		<xs:annotation>
			<xs:documentation>Регистрационный номер документа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateDocument" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Дата документа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateSend" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Дата получения документа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateDelivery" type="xs:dateTime">
		<xs:annotation>
			<xs:documentation>Дата отправки документа</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Number" type="xs:int">
		<xs:annotation>
			<xs:documentation>Номер</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegNumDeclarationDelivery" type="xs:long">
		<xs:annotation>
			<xs:documentation>Регистрационный номер отправленной декларации</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
