EfDatabaseAutomation/Automation/BaseLogica/XsdAuto/FullShemeModel/WebShemeTaxJournal.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 rel. 2 (http://www.altova.com) by TeaM DJiNN (TeaM DJiNN) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DateIzveshenie" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата извещения</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AutoWebPage" type="AutoWebPage">
		<xs:annotation>
			<xs:documentation>Контент на сайт ОКП2</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AutoWebPage">
		<xs:annotation>
			<xs:documentation>Контент на сайт ОКП2</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element ref="TaxJournalAutoWebPage" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="TaxJournal121AutoWebPage" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="AddUlFace" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="ModelTree" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TaxJournalAutoWebPage">
		<xs:annotation>
			<xs:documentation>Контент на сайт ОКП2</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DateIzveshenie"/>
				<xs:element ref="IsLk3"/>
				<xs:element ref="IsMail"/>
				<xs:element ref="IsPrint"/>
				<xs:element ref="IsTks"/>
				<xs:element ref="DataCreate"/>
				<xs:element ref="IdDelo"/>
				<xs:element ref="Id"/>
				<xs:element ref="LogicsButton"/>
			</xs:sequence>
			<xs:attribute name="LoginUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Kpp">
				<xs:annotation>
					<xs:documentation>КПП</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="NameFace">
				<xs:annotation>
					<xs:documentation>Наименование лица</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Fid">
				<xs:annotation>
					<xs:documentation>ФИД</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypeDocument">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="MessageInfo">
				<xs:annotation>
					<xs:documentation>Сообщение</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Extensions">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="IsTks" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>ТКС</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IsMail" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>Почта</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IsLk3" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>ЛК3</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IsPrint" type="xs:boolean" nillable="true">
		<xs:annotation>
			<xs:documentation>Статус распечатан</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DataCreate" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата создания</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdDelo" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Идентификатор дела</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Id" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Идентификатор</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LogicsButton" type="xs:string" default="Button" nillable="false">
		<xs:annotation>
			<xs:documentation>Логика кнопок</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="TaxJournal121AutoWebPage">
		<xs:annotation>
			<xs:documentation>121 статья</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Id"/>
				<xs:element ref="IsLk3"/>
				<xs:element ref="IsMail"/>
				<xs:element ref="IsPrint"/>
				<xs:element ref="IsTks"/>
				<xs:element ref="LogicsButton"/>
				<xs:element ref="DateIzveshenie"/>
				<xs:element ref="DataCreate"/>
				<xs:element ref="DateFinishDeclaration"/>
				<xs:element ref="DateStartDeclaration"/>
				<xs:element ref="DateFinishCheck"/>
				<xs:element ref="DateStartCheck"/>
				<xs:element ref="RegNumDeclaration"/>
				<xs:element ref="God"/>
				<xs:element ref="CounDay"/>
			</xs:sequence>
			<xs:attribute name="LoginUser" type="xs:string">
				<xs:annotation>
					<xs:documentation>Табельный номер пользователя</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Fid" type="xs:string">
				<xs:annotation>
					<xs:documentation>Фид</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Inn" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="NameFace" type="xs:string">
				<xs:annotation>
					<xs:documentation>Лицо</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Period">
				<xs:annotation>
					<xs:documentation>Отчетный период</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:whiteSpace value="collapse"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="TypeDocument" type="xs:string">
				<xs:annotation>
					<xs:documentation>Тип документа</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Extensions" type="xs:string">
				<xs:annotation>
					<xs:documentation>Расширение файла</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateFinishDeclaration" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Срок представления декларации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateStartDeclaration" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата представления декларации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateFinishCheck" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Срок проверки по регламенту</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DateStartCheck" type="xs:dateTime" nillable="true">
		<xs:annotation>
			<xs:documentation>Дата начала проверки</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RegNumDeclaration" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Рег. номер декларации</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="God" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Год</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CounDay" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Просрочка дней</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AddUlFace">
		<xs:annotation>
			<xs:documentation>Лицо для добавления (Предпроверка)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Id"/>
			</xs:sequence>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика кнопки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InnUl" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="FullStatus" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус лица модели</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="ModelTree">
		<xs:annotation>
			<xs:documentation>Модель отработаных веток</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Id"/>
				<xs:element ref="DateCreate"/>
				<xs:element ref="IdModel"/>
			</xs:sequence>
			<xs:attribute name="LogicsButton" type="xs:string" default="Button">
				<xs:annotation>
					<xs:documentation>Логика кнопки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="InnUl" type="xs:string">
				<xs:annotation>
					<xs:documentation>ИНН</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Tree" type="xs:string">
				<xs:annotation>
					<xs:documentation>Ветка</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="StatusModel" type="xs:string">
				<xs:annotation>
					<xs:documentation>Статус обработки</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="DateCreate" type="xs:dateTime" abstract="true">
		<xs:annotation>
			<xs:documentation>Дата записи</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IdModel" type="xs:int" nillable="true">
		<xs:annotation>
			<xs:documentation>Id Модели ветки</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
